<div class="p-card login-container">
  <h2>Log in</h2>
  <div [formGroup]="loginForm">
    <div class="form login-form">
      <div>
        <input formControlName="username" pInputText placeholder="Your nickname">
      </div>
      <div>
        <input formControlName="password" pInputText type="password" placeholder="Your password">
      </div>
      <button (click)="onSubmit()" [disabled]="!loginForm.valid" label="Log in" pButton></button>
      <div class="signup-hint">
        <span>Don't have an account? <a routerLink="../signup">Sign up!</a></span>
      </div>
    </div>
  </div>
</div>
