<div class="p-card signup-container">
  <h2>Sign up</h2>
  <div class="form signup-form">
    <div>
      <input pInputText placeholder="Your nickname">
    </div>
    <div>
      <input pInputText type="password" placeholder="Your password">
    </div>
    <div>
      <input pInputText type="password" placeholder="Repeat password">
    </div>
    <button pButton>Sign up</button>
    <div class="login-hint">
      <span>Have an account? <a routerLink="../login">Log in!</a></span>

    </div>
  </div>
</div>
