.signup-container {
  min-width: 400px;
  text-align: center;
  padding: 0.5rem 1rem;
}


.signup-form {
  div {
    width: 100%;
    margin-bottom: 0.5rem;
    input {
      width: 100%;
    }
  }

  .login-hint {
    margin-top: 2rem;
  }
}
