:host {
  ::ng-deep .p-card_custom {
    width: 250px;

    &:hover {
      cursor: pointer;

      background: #A1C971;
    }
  }
}

.card-container {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.create-room_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px
}
